/*-- scss:defaults --*/

$callout-color-tip: #0065bd;	

/*-- scss:rules --*/

#quarto-document-content {
  width: 1000px;
}

#quarto-margin-sidebar {
  margin-right: -600px;
  margin-left: 500px;
}

#title-block-header {
  background-color: #0065bd; 
  color: #ffffff;
  padding: 1rem;
}

.btn {
  font-size: 18px !important;
  width: 100% !important;
}

* {
  font-family: Arial;
}

body, input, .gt_table {
   font-size: 18px !important;
}



h3 {
  font-size: 1.2rem !important;
}

h4 {
  font-size: 1.1rem !important;
}

.form-group {
  width: auto !important;
}

.form-sidebar{
  padding-bottom: 1.5rem;
}

body {
  margin: 1rem !important;
}

.panel-sidebar {
  position: sticky;
  top: 2rem;
  align-self: start;
  padding: 1rem !important;
}

.hide-label label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.callout-tip .callout {
   border-left-color: #0065bd !important;
  background-color: #96ceff !important;
}